<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2>Change Data Obat</h2>
    <form th:action="@{/obat/change}" th:object="${obat}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        Nama Obat: <br>
        <input type="text" name="nama" th:value="*{nama}"/>
        <br>
        Bentuk: <br>
        <select th:field="*{bentuk}">
            <option th:value="0" th:text="Kapsul"></option>
            <option th:value="1" th:text="Tablet"></option>
            <option th:value="2" th:text="Sirup"></option>
        </select>
        <br>
        Kuantitas: <br>
        <input type="number" name="kuantitas" th:value="*{kuantitas}"/>
        <input id="resepModel" th:field="*{resepModel}" th:value="*{resepModel}" type="hidden"/>
        <br><br><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>