<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar(title='Ubah Obat')"></nav>
    <br>
    <h2>Change Password</h2>
    <span th:text="${error}" style="color: red">Invalid username or password</span>
    <form th:action="@{/user/change-password}" method="POST">
        <label>Password Lama</label>
        <input type="password" th:name="oldPassword" class="form-control"/>
        <label>Password Baru:</label>
        <input type="password" th:name="newPassword" class="form-control"/>
        <label>Konfirmasi Password Baru:</label>
        <input type="password" th:name="passwordConf" class="form-control"/>
        <br>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
</body>
</html>