<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Resep</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar(title='View All Resep')"></nav>
        <div class="container-fluid">
            <h2>Daftar Seluruh Resep</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nomor Resep</th>
                        <th>Nama Dokter</th>
                        <th>Nama Pasien</th>
                        <th>Catatan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        th:each="resep, iterationStatus : ${listResep}"
                    >
                        <td th:text="${resep.noResep}"></td>
                        <td th:text="${resep.namaDokter}"></td>
                        <td th:text="${resep.namaPasien}"></td>
                        <td th:text="${resep.catatan}"></td>
                        <td>
                            <a th:href="@{/resep/change/} + ${resep.noResep}" class="btn btn-primary">Lihat Resep</a>
                            <a th:href="@{/resep/view/} + ${resep.noResep}" class="btn btn-success">Update Resep</a>
                            <a th:href="@{/resep/delete/} + ${resep.noResep}" class="btn btn-danger">Hapus Resep</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <h2>Daftar Seluruh Resep</h2>
        <div th:each="resep: ${listResep}">
            <h3 th:text="'Nomor Resep: ' + ${resep.noResep}"></h3>
            <h3 th:text="'Nama Dokter: ' + ${resep.namaDokter}"></h3>
            <h3 th:text="'Nama Pasien: ' + ${resep.namaPasien}"></h3>
            <h3 th:text="'Catatan: ' + ${resep.catatan}"></h3>
        </div>
        <button><a href="/">Home</a></button> -->
    </body>
</html>